span.about-us-title{
	color: #f07905;
	font-size: 16px;
	letter-spacing: 0.2rem;
  }
  .about-us-h2{
	font-size: 24px;
	position: relative;
	display: block;
	line-height: 1.28em;
	color: #222222;
	font-weight: 600;
	padding-bottom: 18px;
	font-size: 24px!important;
  }
  .about-us-h2:before{
	  position: absolute;
	  content: '';
	  left: 0px;
	  bottom: 0px;
	  width: 50px;
	  height: 3px;
	  background-color: #d1d2d6;
  }
  .about-us-p{
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.1rem;
	color: #848484;
	font-weight: 400;
  }
  .contactUsButton{
	color: white;
  }
  .about-us-h4{
	font-size: 16px;
  }
  .about-us-second-section{
	background-color: #f9f9f9;
  }
  .about-us-services{
	font-size: 14px;
	color: #848484;
  }
  .about-us-card{
	transition: all 0.35s ease-in-out;
  }
  .about-us-card:hover{
	background-color: #f07905;
	color: white!important;
	.about-us-services{
	  color: white;
	}
	.about-us-h4{
	  color: white;
	}
  }
  .contactUsButton{
	width: 25%;
  }
  @media screen and (max-width: 575px){
	.contactUsButton{
	  width: 50%;
	}
  }
  @keyframes slideFromLeft {
	from {
	  transform: translateX(-100%);
	}
	to {
	  transform: translateX(0);
	}
  }
  
  .animated-image {
	animation: slideFromLeft 2s ease forwards; /* Adjust the animation duration and timing function as needed */
  }