// Category

// # Contents
// 1. Sidebar
// 2. Sidebar Widgets
// 2.1) Category List
// 2.2) Size List
// 2.3) Price Slider
// 2.4) Widget Block
// 3. Horizontal Filter
// 3.1) Sort List
// 3.2) Filter Toggle


// # Variables
@include set-default(
	(
		category: (
			sidebar: (
				space: false,
				padding: 2rem,
				border: 1px solid $navy-light3-color,

				title: (
					color: #313131,
					family: $second-font-family,
					size: 1.5rem,
					weight: 600,
					padding-bottom: false,
					border-bottom: false
				)
			)
		)
	)
);

// 1. Sidebar

.sidebar-shop {
	font-size: $sidebar-font-size;

	.product-widget {
		.product-title {
			margin-bottom: .4rem;
			font-family: $font-family;
		}

		.product-details {
			margin-bottom: 1px;
		}
	}

	.sidebar-wrapper {
		border-bottom: 1px solid $navy-light3-color;
	}

	.widget {
		/* @include css( padding, category, sidebar, padding ); */
		padding:16px 0px 0px 0px;
		/* @include css( border, category, sidebar, border ); */
		/* border-bottom-width: 0; */
		@include clearfix;

		&:not(:last-child) {
			@include css ( margin-bottom, category, sidebar, space );
			border-bottom: 0;
		}
	}

	.widget-title {
		margin: 0;
		@include css(color, category, sidebar, title, color);
		@include css(font-family, category, sidebar, title, family);
		@include css(font-size, category, sidebar, title, size);
		@include css(font-weight, category, sidebar, title, weight);
		@include css(padding-bottom, category, sidebar, title, padding-bottom);
		@include css(border-bottom, category, sidebar, title, border-bottom);
		line-height: 1.4;
		text-transform: uppercase;

		a {
			display: block;
			position: relative;
			color: inherit;

			&:hover,
			&:focus {
				text-decoration: none;
			}

			&:before,
			&:after {
				display: inline-block;
				position: absolute;
				top: 50%;
    			right: 2px;
				width: 10px;
				height: 2px;
				margin-top: -1px;
				//transition: all .35s;
				background: $primary-color-dark;
				content: '';
			}

			&.collapsed:after {
				transform: rotate(-90deg);
			}
		}
	}
}

// 2. Sidebar Widgets

.widget {
	.swiper-carousel .swiper-nav {
		position: absolute;
		top: -3.5rem;
		right: 1px;
		line-height: 0;

		button.swiper-next,
		button.swiper-prev {
			padding: 0 .4rem !important;
			border-radius: 0;
			color: $headings-text;
			font-size: 1.8rem;
			line-height: 1;
			background-color: transparent;
		}

		i:before {
			width: auto;
			margin: 0;
		}
	}
}

span.toggle {
	cursor: pointer;
    display: inline-block;
    text-align: center;
    position: absolute;
	right: -5px;
    top: -3px;
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    line-height: 23px;
    font-family: 'Porto';
	font-weight: 900;
	color: $primary-color-dark;

	&::before {
		content: "\e81b";
	}

	.collapsed &::before {
		content: "\e81c";
	}
}

.filter-price-action {
	margin-top: 2.5rem;
	padding-bottom: .5rem;

	.btn {
		padding: 5px 1.5rem 6px 1.5rem;
		font-size: 1.2rem;
		font-weight: 600;
		font-family: $font-family;
	}

	.filter-price-text {
		font-size: 1.2rem;
		line-height: 2;
	}
}
// 2.5) Color Swatch list
.widget {
	.config-swatch-list {
		display: flex;
		flex-wrap: wrap;
		margin-top: .3rem;

		li {
			display: -ms-flexbox;
			display: flex;
			-ms-flex-align: center;
			align-items: center;
			margin: 0;
			font-size: $sidebar-font-size;

			a {
				display: flex;
				align-items: center;
				margin: 3px 6px 3px 0;
				box-shadow: none;
			}
		}
	}

	&.widget-color .widget-body {
		padding-top: .6rem;
	}

	&.widget-size .widget-body {
		padding-top: 1.1rem;
	}
}


.sidebar-opened .shop-off-canvas .mobile-sidebar {
	transform: none;
}

.sidebar-opened .shop-off-canvas .sidebar-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #000;
	opacity: .35;
	z-index: 9999;
}

.sidebar-opened .sidebar-toggle i::before {
	content: "\f1de";
}

// # Responsive
@include mq(lg) {
	.toolbox-item.opened {
		.sort-list {
			display: block;
		}
	}
}

@include mq(lg, max) {
	.sidebar-shop .widget {
		padding: 1.3rem 0 ;
		border: 0;

		&:not(:last-child) {
			border-bottom: 1px solid $navy-light3-color;
		}
	}

	.sidebar-shop .sidebar-wrapper > .widget:first-child {
		padding-top: 0;
	}
}


@media (min-width: 992px) and (max-width: get( layout, container, max-width-desktop)) {
	.sidebar-shop .product-widget figure {
		max-width: 70px;
		margin-right: 1.5rem;
	}
}

@include mq(lg, max) {
	.sidebar-shop .sidebar-wrapper {
		border-bottom: 0;
	}
}
.sidebar-shop .sidebar-wrapper{
  border-bottom: 0;
}