// Cart & Compare Dropdown

// # Contents
// 1. Common
// 2. Header Dropdown
// 3. Cart Dropdown
// 4. Compare Dropdown
// 5. Responsive

// # Variables
@include set-default(
	(
		header: (
			dropdown: (
				color: false,
				space: 1.4rem,
				shadow: 0 29px 29px rgba(0, 0, 0, .1),

				font: (
					size: false,
					weight: false,
				),

				item: (
					space: 3rem,
					padding: .5em 1.5em,
					active-background: $orange-light2-color,
					active-color: $primary-color-dark
				),

				expanded: (
					active-color: false,
				)
			)
		)
	)
);

// 1. Common

.dropdownmenu-wrapper {
	position: relative;
	background-color: white;
}

.dropdown-toggle {
	i {
		font-size: 2.8rem;
	}

	&:not(.dropdown-arrow):after {
		display: none;
	}
}

.cart-dropdown .mobile-cart {
 	display: none;
    position: fixed;
    top: 0;
    bottom: 0;
	right: 0;
	left: auto;
    width: 300px;
    margin: 0;
	transform: translate(340px);
    transition: all .5s ease-in-out;
    background-color: white;
    z-index: 9999;
    border: 1px solid #f0f0f0;
	border-radius: 0;
	box-shadow: 0 5px 8px rgba($navy-color,0.15);

	.cart-opened & {
		display: block;
		transform: none !important;
	}
}
.cart-opened {
	.cart-overlay {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba($navy-color,0.4);
		z-index: 1050;
	}
}

// 2. Header Dropdown

.header-dropdowns, .header-about-contact {
	align-items: center;
	color: #535250;
	font-size: 14px;
}

// Dropdown Menu Triangle
.header-menu:before {
	content: '';
	display: block;
	position: absolute;
	left: 50%;
	width: 0;
	height: 0;
	z-index: 1151;
	margin-left: -9px;
	margin-top: -1rem;
	visibility: hidden;
	opacity: 1;
	transform: translateY(-1rem);
}

// General Header Dropdown
.header-dropdown {
	position: relative;
	@include css( color, header, dropdown, color );
	@include css( font-size, header, dropdown, font, size );
	@include css( font-weight, header, dropdown, font, weight );
	line-height: 1.5;
	padding: 10px 0;

	// Top Anchor
	> a {
		padding: 0 5px;

		&:after {
			content: '▼';
			margin-left: .5rem;
			font-size: 12px;
			color:#808080;
		}
	}

	img {
		display: inline-block;
		max-width: none;
		margin: -2px 6px 0 1px;
	}

	ul {
		position: absolute;
		top: -300rem;
		z-index: 1150;
		min-width: 100%;
		margin: 0;
		padding: .5rem 0;
		background: white;
		@include css( header, dropdown );
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		transition: transform .2s ease-out;
		opacity: 0;
		visibility: hidden;
		transform: translateY(-1rem);

		a {
			display: block;
			@include css( padding, header ,dropdown, item, padding );
			color: $body-text;
			white-space: nowrap;

			&:hover {
				@include css( color, header, dropdown, item, active-color );
				@include css( background, header, dropdown, item, active-background );
			}
		}
	}

	& + & {
		@include css( margin-left, header, dropdown, space );
	}

	&:hover {
		.header-menu:before,
		ul {
			top: 100%;
			opacity: 1;
			visibility: visible;
			transform: none;
		}
	}
}

// 3. Cart Dropdown
.cart-dropdown {
	.dropdownmenu-wrapper {
    overflow-x: hidden;
		overflow-y: auto;
		height: 100%;

		&:before {
			right: 28px;
			left: auto;
		}

		&:after {
			right: 29px;
			left: auto;
		}
	}

	.product {
		display: -ms-flexbox;
		display: flex;
		margin: 0 ;
		padding: 1rem 0;
		-ms-flex-align: center;
		align-items: center;
		border-bottom: 1px solid #e6ebee;
		box-shadow: none !important;
		font-family: $second-font-family;
	}

	.product-image-container {
		position: relative;
		max-width: 80px;
		width: 100%;
		margin: 0;
		margin-left: auto;
		border: 1px solid $orange-light2-color;

		a:after {
			display: none;
		}
	}

	.product-title {
		line-height: 19px;
		color: $primary-color-dark;
		font-weight: 500;

		a {
			color: $primary-color-dark;
		}
	}

	.product-details {
		margin-bottom: 3px;
		font-size: 16px;
	}

	.sticky-header & {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.side-bar-cart-bottom-div {
  bottom: 0;
  right: 0;
  left: 0;
  padding: 8px;
  border-top: 5px #ececec;
  border-top-style: double
}

.side-bar-price{
  float: right;
  margin-left: auto;
  color: #ed6210
}

.dropdown-cart-header,
.dropdown-cart-total {
	font-weight: 700;
	line-height: 38px;
}

.dropdown-cart-header {
  margin-bottom: 0.2rem;
  border-bottom: 4px solid #ececec;
  border-bottom-style: double
}

.dropdown-cart-total {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-family: $second-font-family;

	.cart-total-price {
		margin-left: auto;
    font-size: 18px;
    font-weight: 900
	}
}
button.noselect.py-3.my-1.w-100.view-cart-button.outline {
  font-size: medium;
  background-color: #25262b;
  color:white;
  border-color: #25262b
}
button.noselect.w-100.py-3.mt-1.checkout-button.outline {
  font-size: medium;
  background-color: #892118;
  color: white;
}


.noselect {
	background-color: #a51017;
	border: 1px solid white;
	border-radius: 6px;
	font-size: 1em;
	font-weight: 500;
	color: white;
	box-shadow: 0px 1px 2px white;
	transition: all 0.1s ease;
  }
  .noselect:active {
	transform: translate(0px, 2px);
	box-shadow: 0px 0px 2px white;
  
  }
  .noselect:hover{
	background-color: #892118;
  }
  .outline {
	background-color: #a51017;
	border: 1px solid #a51017;
	color: white;
	font-weight: bold;
	box-shadow: 0px 1px 2px #a51017;
  }
  .outline:active {
	box-shadow: 0px 0px 2px #a51017;
	transform: translate(0px,2px);
  
  }
  .disaple {
	color: #ababab !important ;
	background-color: #e5e5e5;
  }
  .disaple:hover {
	transform: none !important;
	box-shadow: none !important ;
	cursor: not-allowed !important;
	background-color: #e5e5e5;
  }

.cart-empty-text{
  padding: 10px;
}

.dropdown-cart-header {
	font-size: 2rem;
	font-family: $second-font-family;
	text-align: center;
	a:hover {
		text-decoration: underline;
	}
}
.side-cart-images{
	width: 80px;
	min-width: 80px;
}

.dropdown-cart-action {
	.btn {
		padding: 1.3rem 2.5rem 1.4rem;
		border-radius: .2rem;
		color: white;
		font-size: 1.2rem;
		font-weight: 600;
		font-family: $second-font-family;
		letter-spacing: .025em;
		border-color: transparent;
	}

	.view-cart {
		margin: 1rem 0;
		background: $navy-light3-color;
		color: $primary-color-dark;

		&:hover,
		&:focus {
			background: #f1f1f1;
			color: $navy-color;
		}
	}
}

// 4. Compare Dropdown

// 5. Responsive

@include mq(lg) {
	.dropdown-expanded {
		> a,
		.header-menu:before {
			display: none;
		}

		li + li {
			@include css( margin-left, header, dropdown, item, space );
		}

		ul {
			position: static;
			display: flex;
			display: -ms-flexbox;
			padding: 0;
			border: 0;
			background-color: transparent;
			box-shadow: none;
			opacity: 1;
			visibility: visible;

			a {
				padding: 0;
				color: inherit;

				&:hover {
					background-color: transparent;
					@include css( color, header, dropdown, expanded, active-color );
				}
			}
		}

		.header-menu ul {
			transform: none;
		}
	}
}
@media (max-width: 480px) {
	.cart-dropdown, .compare-dropdown {
		.dropdown-menu {
			width: 262px;
		}
	}
}