// Sticky Header

@include set-default(
	(
		header: (
			logo: (
				sticky: (
					max-width: 89px,
					transform: false,
					transform-origin: false,
				)
			),
			middle: (
				sticky: (
					padding-top: false,
					padding-bottom: false,
					height: 60px
				)
			)
		)
	)
);

.sticky-header {
	transition:  left .25s;

	&.fixed {
		display: flex;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		width: 100%;
		padding: 0;
		z-index: 1040;
		animation-name: fixedHeader;
		animation-duration: .4s;

		.logo {
			@include css( max-width, header, logo, sticky, max-width );

			img {
				@include css( transform, header, logo, sticky, transform );
				@include css( transform-origin, header, logo, sticky, transform-origin );
			}
		}
	}

	.main &:not(.fixed) {
		> .container {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.main &.fixed {
		min-height: 38px;
		padding-top: 15px;
		padding-bottom: 15px;
		box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
		overflow: hidden;
		z-index: 997;

		.container {
			margin: 0 auto;
		}
	}

	.main &.toolbox.fixed {
		padding: 1.5rem;
		padding-right: 1.5rem !important;
		background-color: $orange-light2-color;
		// margin: 0 !important;

		// .toolbox-left {
		// 	margin-right: 3rem;
		// }
	}
	.sidebar-opened &.fixed:not(.sticky-header),
	.mmenu-active &.fixed, .menu-active &.fixed  {
		left: 260px;
		transition: left .25s;
	}
}

.sticky-navbar {
	display: flex;
	position: fixed;
	left: 0;
	right: 0;
	top: 100%;
	width: 100%;
	background-color: white;
	border-top: 1px solid $navy-light3-color;
	opacity: 0;
	visibility: hidden;
	transition: all .25s;
    z-index: 997;

	&.fixed {
		opacity: 1;
		visibility: visible;
		transform: translateY(-100%);

		.sidebar-opened &,
		.mmenu-active & {
			left: 260px;
			transition: all .25s;
		}
	}
}

$breakpoint99: 992px;

@include mq($breakpoint99) {
	.sticky-navbar {
		display: none;
	}
}

@include mq(lg, max) {
	.sticky-header {
		.sidebar-opened &.fixed {
			left: 260px;
			transition: left .25s;
		}
	}
}
