.product-countdown-container {
	display: flex;
	align-items: center;
    position: absolute;
    justify-content: center;
    flex-wrap: wrap;
    /* left: 1rem;
    right: 1rem;*/
    bottom: 0px;
	border-radius: 0px 0px 10px 10px;
	z-index: 6;
	padding: 8px;
	letter-spacing: -.01em;
	transition: opacity .3s ease;
	visibility: visible;
    text-transform: uppercase;
    background: $primary-color;
    opacity: 0.8;
    font-family: $third-font-family;

	.product-countdown-title {
        display: inline-block;
        color: white;
        font-weight: 400;
        margin-bottom: 0;
        margin-right: 3px;
	}

	.product-countdown {
		position: relative;
		left: auto;
		right: auto;
		bottom: auto;
		z-index: 6;
		line-height: 1;
        opacity: 1;
        color: white;

		.countdown-amount {
            display: block;
            padding-bottom: 2px;
			font-weight: 400;
			line-height: 1;
			margin-bottom: 0;
			text-transform: uppercase;
		}
	}
}

.product-default:not(.count-down):hover {
	.product-countdown,
	.product-countdown-container {
		opacity: 0;
		visibility: hidden;
	}
}
