
.product-default img {
    background-color: transparent;
}

.live-search-list {
    width: 100%;
    position: absolute;
    top: calc(100% + 5px);
    display: contents;
}
.search-suggests {
    position: absolute;
    width: 100%;
    top: calc(100% + 5px);
    border-radius: 10px;

    .product-price {
        font-size: 1.4rem;
        line-height: 1.2;
        text-align: right;
    }

    .old-price {
        font-size: 1.2rem;
    }
}

.search-suggest {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 2%;
    padding: 1rem;
    background: #f7f7f7;
    width: 91%;
    border: 1px solid $orange-light2-color;
    z-index: 1001;
    transition: background-color .35s;
    min-width: 320px;

    img {
        max-height: 40px;
        border-radius: 50%;
        transition: transform .35s, filter .35s;
        filter: brightness(1.04);
    }

    &:hover {
        background-color: #f0f0f0;

        img {
            filter: brightness(1.2);
        }
    }
}

// error page
.http-error {
    padding: 50px 0;
    margin-bottom: 5rem;

    h2 {
        font-size: 30px;
        font-weight: 700;
        line-height: 140px;
        color: $navy-color;
    }

    p {
        color: $navy-light-color;
        margin: 0 0 20px;
        font-size: 1.4em;
        line-height: 36px;
    }

    ul.nav-list li a, ul[class^=wsp-] li a {
        transition: background 0.1s;
        padding: 8px 0 8px 20px;
        display: block;
        color: $navy-light-color;
        font-size: 0.9em;
        text-decoration: none;
        line-height: 20px;
        border-bottom: 1px solid rgba($navy-color,0.06);
    }

    ul.nav-list li, ul[class^=wsp-] li {
        margin: 0;
        padding: 0;
        display: block;
        flex: 0 0 100%;
        position: relative;
    }

    ul.nav-list li a:before, ul[class^=wsp-] li a:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "";
        display: inline-block;
        position: absolute;
        top: 9px;
        left: 9px;
        opacity: 0.7;
        font-size: 0.45rem;
    }
}


.widget-product-categories .vtl-icon-caret-right:before {
    content: "";
}

.widget-product-categories .vtl-icon-caret-down:before {
    content: "";
}