$orange-color: #844701;
$navy-color: #535250;
$navy-color-dark: #000;
$orange-light-color: lighten($orange-color, 48);
$orange-light2-color: lighten($orange-color, 49.5);
$navy-dark-color: rgba($navy-color, .7);
$navy-light-color: rgba($navy-color, 1);
$navy-light2-color: rgba($navy-color, .42);
$navy-light3-color: rgba($navy-color, .14);
$navy-light4-color: rgba($navy-color, .07);
$grey-color: #e1e1e1;
$red-color: #B40808
